{
  "extension": [
    ".ts"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "src/api/*.ts",
    "src/utils/requestStrategies/AxiosStrategy.ts",
    "src/utils/requestStrategies/FetchStrategy.ts"
  ],
  "all": true
}
